workflows/Gmail Calendar Wipe.json
{
  "name": "Gmail Calendar Wipe",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -128
      ],
      "id": "697d5d70-2d30-4646-ae51-bed31397a76b",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "<your-email>",
          "mode": "list",
          "cachedResultName": "<your-email>"
        },
        "returnAll": true,
        "timeMin": "=",
        "timeMax": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -256,
        -128
      ],
      "id": "217ce9cc-8fe2-49ce-a45b-aed9d2dd9c4d",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "<gcalendar-credential-id>",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        -128
      ],
      "id": "4852e664-9bbb-4cea-bced-58f581788793",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "<your-email>",
          "mode": "list",
          "cachedResultName": "<your-email>"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        192,
        -128
      ],
      "id": "7f1aa13a-5110-4169-b00f-73f67fad9b1c",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "<gcalendar-credential-id>",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "<version-id>",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "<n8n-instance-id>"
  },
  "id": "<workflow-id>",
  "tags": []
}